{
    "name"                  : "WaHack",
    "desc"                  : "Intip Whatsapp",
    "sessionName"           : "sesi",
    "levelLog"              : "fatal", 
    "appUrl"                : "localhost",
    "port"                  : 8001, 
    "defaultCountryCode"    : 62,
    "downloadMedia"         : true,
    "downloadFolder"        : "media",
    "notifTo"               : "628562603077"
  }