<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- <meta http-equiv="refresh" content="10"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Scan WhatsApp QrCode</title>
    <style>
        div {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        h1 {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    </style>
</head>
<body>
    <h1> <%= judul%><h1>
            <div class="container">
                <img src="" alt="" id="qrcode_box" />
            </div> 

  <script src="/socket.io/socket.io.js"></script>
  <script>
    var socket = io();

    socket.on('qr', function(msg){
      console.log(msg);
      document.getElementById("qrcode_box").src= msg;
    });
  </script>
</body>
</html>